@media screen and (max-width: 412px){
    .container1{
        height: 120vh;
    }
    .topimage {
        margin: 0px 250px;
      }
    .bottomimage {
        text-align: start;
        margin: 0px 0px;
      }
      .mountain img {
        margin-top: -60px;
        width: 45vh;
      }
      .topimage img {
        margin-top: 35px;
        width: 112px;
        height: 40px;
      }
      .bottomimage img {
        margin-top: 35px;
        width: 112px;
        height: 40px;
      }
    .container3{
        height: 45vh;
      }
    
}
